*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 100px;
}

.login-area {
  transition: .3s;
}

.submit-area {
  margin: 100px 0 0;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
  padding: 40px;
}

.transection-area {
  display: none;
  transition: .3s;
}

.single-card {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.single-card h2,.single-card h5 {
  color: #fff;
}

.deposit {
  background: slateblue;
}
.withdraw {
  background: lightsalmon;
}
.balance {
  background: orange;
}

.single-transection-form {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}